# Binaries
ef
ce
main

# Swap files
*.swp
*.swo

# Log files
*.log

# Test files
test*.txt

ignore

# Build artifacts
build/
*.o
*.a
*.so
*.exe
*.gcda
*.gcno
*.gcov
coverage.info
coverage-html/
.DS_Store
